<%# 「作ってみた!」を押している状態 %>
<%= link_to recipe_makes_path(recipe), method: :delete, data: { confirm: 'レベルが下がる可能性がありますが、実行しますか？'}, remote: true do %>
  <i class="fa-solid fa-thumbs-up text-primary"></i>
  <span class="text-primary"><%= recipe.makes_count %></span>
<% end %>