<div class="ranking-wrapper">
  <h2 class="ranking-title">「作ってみた！」総合ランキング</h2>
  <div>
    <table class="m-auto">
      <tbody class="ranking-tbody">
        <% @high_rank_recipes.each.with_index(1) do |recipe, i| %>
          <tr class=" ranking-row">
            <td class="ranking-<%= i %>-row first-col">第<%= i %>位</td>
            <td>
              <%= render "recipes/recipe", recipe: recipe %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
