/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/regular';

// *-*-* フラッシュのレイアウト *-*-*
.flash-wrapper {
  position: absolute;
  left: 144px;
  top: 15px;
  width: 80%;
  height: 60px;
  text-align: center;
  z-index: 1;
  border-radius: 15px;
  .flash-msg {
    color: #fbf6f0;
    font-weight: bold;
    padding-top: 15px;
  }
}
.notice {
  background: rgba($color: #66b1f2, $alpha: 0.9);
}
.alert {
  background: rgba($color: #f24130, $alpha: 0.9);
}
#error_explanation {
  margin-bottom: 10px;
  padding: 8px;
  background-color: rgba($color: #f27e93, $alpha: 0.8);
  border-radius: 10px;
  border: solid #f24130;
  .error {
    color: yellow;
  }
}
// *-*-* ヘッダーのレイアウト *-*-*
.header-logo {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100px;
}
// *-*-* ページネーションのスタイル *-*-*
.paginate {
  padding-bottom: 40px;
  text-align: center;
  height: 100px;
  nav {
    height: 50px;
    display: flex;
    justify-content: center;
    ul {
      display: flex;
      column-gap: 4px;
      li {
        font-size: 1.25rem;
        width: 50px;
        padding-top: 8px;
        border: solid 1px #344963;
        border-radius: 50%;
        vertical-align: middle;
        transition: 0.3s;
        -webkit-transform: scale(1);
        transform: scale(1);
        &:hover {
          color: #ffa45b;
          background-color: #fbf6f0;
          border: solid 1px #fa812b;
          transition: 0.3s;
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
      .current {
        background-color: #aee6e6;
        border: solid 1px #00aaff;
      }
    }
  }
}
