// 変数定義
@mixin input-layout {
  width: 100%;
  height: 50px;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  transition: 0.3s;
  &:focus {
    border-color: #aee6e6;
    box-shadow: 0 0 8px 0 #aee6e6;
  }
  &:focus::placeholder {
    color: transparent;
  }
}
@mixin tb {
  @media screen and (min-width: 790px) and (max-width: 1030px) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: 790px) {
    @content;
  }
}
@mixin sp-tb {
  @media screen and (max-width: 1030px) {
    @content;
  }
}
// **** ボタン用ミックスイン ****
@mixin submit-layout($bgColor, $hoverColor, $boxShadow) {
  min-width: 290px;
  height: 50px;
  color: #fbf6f0;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 10px;
  border: none;
  background-color: $bgColor;
  box-shadow: 0 3px 1px -2px $boxShadow, 0 2px 2px 0 $boxShadow, 0 1px 5px 0 $boxShadow;
  &:hover {
    background-color: $hoverColor;
  }
  &:active {
    box-shadow: 0 4px 2px -3px $boxShadow, 0 4px 5px 1px $boxShadow, 0 2px 7px 1px $boxShadow;
  }
}

// **** ログインフォーム ****
.devise-container {
  min-height: 100vh;
  max-width: 1050px;
  margin: 0 auto;
  padding-top: 5rem;
  .rsp-textCenter {
    @include sp-tb {
      text-align: center;
    }
  }
  .rsp-deviseContainer {
    @include tb {
      margin-top: 20px;
    }
  }
  .welcome-bro,
  .login-bro {
    @include sp {
      width: 300px;
      margin: 0 auto;
    }
  }
  .field {
    margin-top: 1rem;
    position: relative;
    .form-icon {
      color: #aaa;
      position: absolute;
      top: 50%;
      left: 7px;
      transform: translateY(-40%);
      opacity: 0.7;
      &:focus {
        color: transparent;
      }
    }
  }
  input[type='text'] {
    @include input-layout;
  }
  input[type='email'] {
    @include input-layout;
  }
  input[type='password'] {
    @include input-layout;
  }
  input[type='submit'] {
    @include submit-layout(#ffa45b, #fa812b, #fa8d35);
  }
  .texearea-box {
    @include input-layout;
    width: 100%;
    height: 250px;
  }
  .login-link {
    display: inline-block;
    margin: 20px 0 10px 0;
    &:hover {
      color: #aee6e6;
    }
  }
  .forget-link:hover {
    display: inline-block;
    color: #aee6e6;
  }
  .delete-wrapper {
    input[type='submit'] {
      @include submit-layout(#f06060, #ee4b4b, #f03c3c);
      margin-bottom: 40px;
    }
  }
  .back-link {
    color: #ffa45b;
    font-weight: bold;
    &:hover {
      color: #fa812b;
    }
  }
  .google-wrapper {
    margin-top: 15px;
    text-align: center;
    .google {
      @include submit-layout(#eb5043, #e94233, #dc4a3d);
      padding-top: 15px;
    }
  }
  .another-choice {
    text-align: center;
    margin-top: 15px;
    flex-shrink: 0;
    display: flex;
    white-space: nowrap;
    border: 0;
    p {
      color: rgb(107, 114, 128);
    }
    &::before,
    &::after {
      position: relative;
      width: 100%;
      border-top: thin solid rgba(107, 114, 128, 0.24);
      top: 50%;
      content: '';
      transform: translateY(50%);
    }
  }
  .devise-profileImg {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .select-profileImg {
    cursor: pointer;
    font-size: 14px;
    &:hover {
      color: #aee6e6;
    }
  }
  input[type='file'] {
    display: none;
  }
}
.reset-password {
  text-align: center;
  padding: 70px 100px;
}
