// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// *-*-* 初期に表示されるセクションのレイアウト *-*-*
.top-bg-img {
  min-height: 675px;
  max-height: 95vh;
  object-fit: cover;
  width: 100%;
  object-position: left bottom;
}
