// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@mixin tb {
  @media screen and (min-width: 790px) and (max-width: 1030px) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: 790px) {
    @content;
  }
}
@mixin sp-tb {
  @media screen and (max-width: 1030px) {
    @content;
  }
}

@mixin submit-layout($bgColor, $hoverColor, $boxShadow) {
  background-color: $bgColor;
  box-shadow: 0 3px 1px -2px $boxShadow, 0 2px 2px 0 $boxShadow, 0 1px 5px 0 $boxShadow;
  &:hover {
    background-color: $hoverColor;
  }
  &:active {
    box-shadow: 0 4px 2px -3px $boxShadow, 0 4px 5px 1px $boxShadow, 0 2px 7px 1px $boxShadow;
  }
}

// ===== 共通のレイアウト =====
.sign-up-btn {
  @include submit-layout(#5eaf23, #8ec22f, #2f630a);
  width: 100px;
  height: 50px;
  padding: 10px 0px;
  @include sp {
    width: 140px;
  }
}

// ===== トップセクションのレイアウト =====
.top-section {
  min-height: 95vh;
  background-color: rgba($color: #ffa45b, $alpha: 0.95);
  display: flex;
  @include tb {
    min-height: 50vh;
  }
  @include sp-tb {
    flex-direction: inherit;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }
  @include sp {
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-top: 20px;
  }
  .top-left {
    flex-basis: 50%;
    @include sp-tb {
      flex-basis: auto;
    }
    @include sp {
      padding: 0 0 30px 0;
    }
    .top-heading {
      color: #5eaf23;
      font-size: 5em;
      font-weight: 900;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      @include tb {
        font-size: 4em;
      }
      @include sp {
        font-size: 3em;
      }
    }
    .sub-heading {
      color: #fbf6f0;
      font-size: 2em;
      font-weight: 800;
      @include sp-tb {
        font-size: 1.5em;
      }
    }
    .topMsg-wrapper {
      display: flex;
      justify-content: center;
      @include sp {
        margin-top: 30px;
        text-align: center;
      }
      .top-msg {
        color: #e8e8e8;
        font-size: 20px;
        font-weight: 700;
        @include sp-tb {
          font-size: 1em;
        }
      }
    }
    .sign-wrapper {
      display: flex;
      justify-content: center;
      text-align: center;
      @include sp-tb {
        margin-top: 30px;
      }
      @include sp {
        flex-direction: column;
      }
    }
    .visit-recipesLink {
      color: #e8e8e8;
      text-align: center;
      margin-top: 8px;
      &:hover {
        color: #fbf6f0;
      }
    }
  }
  .top-right {
    flex-basis: 50%;
    position: relative;
    @include sp-tb {
      position: inherit;
      flex-basis: auto;
    }
    .top-img {
      position: absolute;
      width: 400px;
      height: 300px;
      right: 100px;
      top: 50px;
      box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      transform: rotate(5deg);
      object-position: left bottom;
      @include sp-tb {
        position: inherit;
        transform: none;
        width: 370px;
        height: 260px;
      }
      @include sp {
        margin: 0 auto;
      }
    }
  }
  .login-btn {
    @include submit-layout(#ffda77, #ffe291, #b39542);
    width: 100px;
    height: 50px;
    padding: 10px 0px;
    color: rgba(0, 0, 0, 0.6);
    @include sp {
      width: 140px;
      margin-top: 30px;
    }
  }
  .login-btn-guest {
    @include submit-layout(#ffda77, #ffe291, #b39542);
    width: 140px;
    height: 50px;
    padding: 0px 3px;
    color: rgba(0, 0, 0, 0.6);
    @include sp {
      margin-top: 30px;
    }
  }
}

// ===== メインセクションのレイアウト =====
.main-section {
  margin: 80px auto 120px;
  .sp-topContents-flex {
    @include sp {
      flex-direction: column;
      text-align: center;
    }
  }
  .main-section-heading2 {
    color: #ffa45b;
    font-size: 2.5em;
    font-weight: 900;
    @include sp {
      font-size: 2em;
    }
  }
  .toUser-scss-rsp {
    @include sp {
      margin: 0;
    }
  }
  .function-scss-rsp1 {
    @include sp {
      margin: 0;
      padding: 0 16px;
    }
  }
  .function-scss-rsp2 {
    @include sp {
      margin: 3em 0px 0px;
      padding: 0 16px;
    }
  }
  .what-app-img {
    height: 300px;
    width: 300px;
    margin: 0 auto;
  }
  .main-section-heading3 {
    color: #5eaf23;
    font-size: 2em;
    font-weight: 900;
    @include sp-tb {
      font-size: 1.5em;
    }
  }
  .app-description {
    margin-top: 10px;
    padding-right: 15px;
  }
  .main-section-img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }
  .function-title {
    color: #ffa45b;
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 16px;
    text-align: center;
  }
  .home-recipeArticles-wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3em;
    margin: 20px 0px 40px;
    @include tb {
      gap: 4em;
    }
    @include sp {
      grid-template-columns: 1fr;
      gap: 2em;
    }
    .recipe-wrapper {
      width: 340px;
      padding: 15px;
    }
  }
  .recipes-menuImg {
    border-radius: 15px;
    height: 210px;
    width: 340px;
  }
  .lead-signUp-msg {
    color: #5eaf23;
    font-size: 2em;
    font-weight: 900;
    @include sp {
      font-size: 1.5em;
    }
  }
}
