@mixin tb {
  @media screen and (min-width: 790px) and (max-width: 1030px) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: 790px) {
    @content;
  }
}
@mixin sp-tb {
  @media screen and (max-width: 1030px) {
    @content;
  }
}

.ranking-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 6rem 0;
  @include sp-tb {
    padding: 6rem 0.625rem;
  }
  .ranking-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 25px;
    @include sp {
      font-size: 1.25rem;
    }
  }
  .ranking-tbody {
    tr:nth-child(n) {
      @include sp {
        display: flex;
        flex-direction: column;
      }
    }
    .ranking-row {
      margin-top: 1rem;
      .first-col {
        font-size: 1.25rem;
        text-align: center;
        min-width: 100px;
      }
    }
    .ranking-1-row {
      font-size: 1.5rem;
      color: #ffa45b;
    }
  }
  .recipe-wrapper {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
    @include sp {
      flex-direction: column;
    }
    .ranks-recipeWrapper-left {
      flex-basis: 50%;
      margin-right: 15px;
      @include sp-tb {
        margin: 0;
      }
      .recipes-menuImg {
        border-radius: 15px;
        width: 380px;
        height: 270px;
        margin: 0 auto;
        @include sp {
          width: 320px;
          height: 240px;
        }
      }
    }
    .ranks-recipeWrapper-right {
      flex-basis: 50%;
      @include sp-tb {
        padding: 0 10px;
        margin: 0;
      }
      .make-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
      }
    }
  }
}
