// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@mixin tb {
  @media screen and (min-width: 790px) and (max-width: 1030px) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: 790px) {
    @content;
  }
}
@mixin sp-tb {
  @media screen and (max-width: 1030px) {
    @content;
  }
}

// ===== 検索ボタン =====
@mixin submit-btn {
  min-width: 130px;
  height: 50px;
  color: #fbf6f0;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 10px;
  border: none;
  background-color: #ffa45b;
  box-shadow: 0 3px 1px -2px #fa8d35, 0 2px 2px 0 #fa8d35, 0 1px 5px 0 #fa8d35;
  &:hover {
    background-color: #fa812b;
  }
  &:active {
    box-shadow: 0 4px 2px -3px #fa8d35, 0 4px 5px 1px #fa8d35, 0 2px 7px 1px #fa8d35;
  }
}

// ===== 料理イメージの共通スタイル =====
@mixin menu-image($height, $width) {
  border-radius: 15px;
  height: $height;
  width: $width;
}

// ===== よく使うflexのスタイル =====
@mixin flex-style($content, $items) {
  display: flex;
  justify-content: $content;
  align-items: $items;
}

.recipes-container {
  padding-top: 6rem;
  @include sp-tb {
    flex-direction: column;
  }
  // ===== レシピ投稿フォームのスタイル =====
  .recipe-form {
    max-width: 960px;
    @include tb {
      padding: 0 10px;
    }
    @include sp {
      max-width: 390px;
      padding: 0 10px;
    }
  }
  .field {
    margin-top: 2rem;
  }
  input[type='text'] {
    width: 100%;
    height: 50px;
    border: 2px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    transition: 0.3s;
    &:focus {
      border-color: #aee6e6;
      box-shadow: 0 0 8px 0 #aee6e6;
    }
  }
  textarea {
    width: 100%;
    height: 300px;
    border: 2px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    transition: 0.3s;
    &:focus {
      border-color: #aee6e6;
      box-shadow: 0 0 8px 0 #aee6e6;
    }
  }
  input[type='submit'] {
    @include submit-btn;
  }
  .recipe-content {
    flex-basis: 70%;
    @include tb {
      flex-basis: 60%;
    }
  }
  .recipe-info {
    flex-basis: 30%;
    @include tb {
      flex-basis: 40%;
    }
    @include sp {
      padding: 0;
      text-align: center;
      margin-top: 30px;
    }
  }
  .recipe-genre {
    label {
      margin-right: 10px;
    }
  }
  // ===== 一覧ページのスタイル =====
  .flex-left {
    flex-basis: 20%;
    @include sp-tb {
      order: 1;
    }
  }
  .flex-center {
    flex-basis: 60%;
    @include sp-tb {
      .recipeIndex-wrapper {
        flex-direction: column;
        @include flex-style(normal, center);
        .recommend-title {
          @include sp {
            text-align: center;
          }
        }
      }
    }
  }
  .flex-right {
    flex-basis: 20%;
    @include tb {
      @include flex-style(center, normal);
    }
    @include sp-tb {
      order: 2;
      margin-top: 40px;
    }
    .userInfo-wrapper {
      @include tb {
        flex-basis: 45%;
        margin: 0 15px;
      }
    }
  }
  .login-btn {
    @include submit-btn;
  }
  .recipeArticles-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    margin: 20px 0px 40px;
    @include tb {
      gap: 4em;
    }
    @include sp {
      grid-template-columns: 1fr;
      gap: 2em;
    }
  }
  .recipe-wrapper {
    width: 340px;
    padding: 15px;
    .recipeArticle-content {
      min-height: 190px;
      display: flex;
      flex-direction: column;
    }
  }
  .make-wrapper {
    @include flex-style(space-between, center);
    margin-top: auto;
    .index-rec-makeBtn {
      margin-right: 16px;
    }
  }
  .cooking-info {
    @include flex-style(right, normal);
    p {
      font-size: 14px;
      color: #aaa;
      margin: 0 4px;
    }
  }
  .recipes-menuImg {
    @include menu-image(210px, 340px);
  }
  .info-msg {
    margin-top: 15px;
    padding-top: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    .info-date {
      color: rgba(0, 0, 0, 0.6);
      font-size: 12px;
    }
  }
  // ===== レコメンド機能のスタイル =====
  .recommend-wrapper {
    display: flex;
    padding: 15px;
    @include sp {
      display: inherit;
    }
    .sp-contributorInfo {
      display: none;
      @include sp {
        display: flex;
      }
    }
    .contributor-cooking {
      @include flex-style(space-between, center);
      @include sp {
        @include flex-style(right, center);
      }
    }
    .recommed-img {
      @include menu-image(220, 330);
    }
  }
  .makes-info-wrapper {
    height: 80px;
    background: rgba($color: #aee6e6, $alpha: 0.8);
    border: #344963 solid 2px;
    border-radius: 10px;
    @include flex-style(center, center);
    box-shadow: 2px 5px 12px 1px #d5d5d5;
  }
  // ===== 検索結果ページのスタイル =====
  .q-resultPage {
    max-width: 1050px;
    min-height: 100vh;
    margin: 0 auto;
    .q-count {
      font-size: 20px;
      color: #5eaf23;
    }
    .recipe-results {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 1em;
      margin: 40px 0;
      @include tb {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-items: center;
      }
      @include sp {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        justify-items: center;
      }
    }
    .no-resultFound {
      max-width: 600px;
      max-height: 600px;
      margin: 0 auto;
      @include sp {
        max-width: 390px;
        max-height: 390px;
      }
    }
  }
}

// ===== 詳細ページのスタイル =====
.recipeDetaile-wrapper {
  padding-top: 6rem;
  max-width: 1050px;
  margin: 0 auto;
  .back-link {
    color: #ffa45b;
    font-weight: bold;
    &:hover {
      color: #fa812b;
    }
    @include tb {
      padding: 0 30px;
    }
    @include sp {
      display: none;
    }
  }
  .recipeDetaile-flex {
    @include sp-tb {
      display: inherit;
      padding: 0 10px;
    }
  }
  .makeRecipe-wrapper {
    flex-basis: 10%;
    padding-top: 5em;
    margin-right: 10px;
    @include sp-tb {
      display: none;
    }
    .show-makeBtn {
      margin-bottom: 16px;
    }
  }
  .recipe-card {
    margin: 16px 0 100px;
    padding: 16px;
    flex-basis: 90%;
    .rsp-makeIcon {
      display: none;
      @include sp-tb {
        display: inherit;
        margin: 0px 8px;
      }
    }
    .recipe-editIcon {
      font-size: 30px;
      margin-right: 1em;
    }
    .recipe-deleteIcon {
      font-size: 30px;
      padding-right: 10px;
      margin-left: 10px;
    }
    .show-menuImg {
      @include menu-image(335px, 500px);
      margin: 0 auto;
    }
    .recipiSub_info {
      @include flex-style(space-around, normal);
      margin: 0 auto;
      width: 964px;
      @include sp-tb {
        font-size: 12px;
        width: 100%;
      }
      .sub-info {
        @include sp {
          display: none;
        }
      }
    }
    .show-recipeContent {
      margin-top: 16px;
      @include sp {
        padding: 8px;
      }
    }
  }
}

// ===== 検索フォームのスタイル =====
.search-container {
  input[type='submit'] {
    @include submit-btn;
  }
  .q-SearchBox {
    @include tb {
      @include flex-style(space-around, normal);
    }
    .search-common {
      padding: 10px;
      @include tb {
        flex-basis: 45%;
      }
      .search-span {
        width: 100%;
        margin: 10px 0;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        display: inline-block;
      }
    }
    .recipes-q {
      height: 30px;
      width: 200px;
      border-radius: 10px;
    }
  }
}
