// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@mixin tb {
  @media screen and (min-width: 790px) and (max-width: 1030px) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: 790px) {
    @content;
  }
}
@mixin sp-tb {
  @media screen and (max-width: 1030px) {
    @content;
  }
}

.my-page-wrapper {
  padding: 100px 0px;
  margin: 0 auto;
  max-width: 1050px;
  @include sp {
    padding: 100px 15px;
  }
  .user-info {
    display: flex;
    padding: 16px;
    @include sp {
      display: inherit;
    }
    .user-info-left {
      text-align: center;
      flex-basis: 50%;
      .user-info-image {
        margin: 0 auto;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
      }
      .user-info-link {
        display: inline-block;
        color: #fff;
        border: 2px solid #878787;
        border-radius: 10px;
        background-color: #c0c4cc;
        margin-top: 15px;
        padding: 5px 10px;
        &:hover {
          background-color: #ffa45b;
        }
      }
    }
    .user-info-right {
      flex-basis: 50%;
      .user-nameLevel {
        display: flex;
        .user-infoName {
          font-size: 20px;
          flex-basis: 50%;
        }
        .user-infoLevel {
          flex-basis: 50%;
          span {
            font-size: 20px;
            color: #8ec22f;
          }
        }
      }
    }
  }
  .user-recipes {
    margin-top: 5em;
    .user-makedRecipes {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 1rem;
      grid-gap: 1rem;
      @include sp {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        justify-items: center;
      }
    }
    .recipe-wrapper {
      width: 340px;
      padding: 15px;
      .make-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
      }
      .recipes-menuImg {
        border-radius: 15px;
        height: 330px;
        width: 500px;
      }
      .recipe-editIcon {
        font-size: 30px;
        margin-right: 1em;
      }
      .recipe-deleteIcon {
        font-size: 30px;
        padding-right: 10px;
        margin-left: 10px;
      }
    }
  }
}
