<p><%= t('.greeting', recipient: @resource.email) %></p>

<p>
  いつもご利用いただき誠にありがとうございます。<br>
  <%= t('.instruction') %>
</p>

<p><%= link_to t('.action'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p>引き続きよろしくお願い致します。</p>

<p>
  ※上記URLは当メール送信後、6時間を超過しますと、セキュリティ保持のため無効となります。<br>
  その場合は再度、最初からお手続きをお願いいたします。
</p>
<p>
  ※当メールに心当たりの無い場合は、誠に恐れ入りますが<br>
  破棄して頂けますよう、よろしくお願いいたします。
</p>
<p>※<%= t('.instruction_3') %></p>

