<div class="footer-wrapper">
  <p class="footer-app-name">FunCooApp</p>
  <%= link_to "https://twitter.com/icanenrichlife7", class: "footer-twitter" do %>
    <i class="fa-brands fa-twitter text-white"></i> 管理人のTwitter
  <% end %>
  <p class="text-xs text-gray-500">©︎ 2022 FunCooApp:iloveomelette - v2.6.4</p>
</div>